.main-head {
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: 4px 0 8px 0 rgba(66, 129, 245, 0.11);
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-cta {
  outline: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  padding: 0.6rem 1.1rem;
  border-radius: 5px;
}

#logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}
